body{
    position: fixed;
}
.gambar_belakang{
    position: relative;
}

.no_id{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    left: 140px;
    top: 57px;
    color: #1FD0EF;
}

.nama_anggota{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    left: 140px;
    top: 100px;
    color: #1FD0EF;
}

.jk{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    left: 140px;
    top: 146px;
    color: #1FD0EF;
}

.username{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    left: 140px;
    top: 188px;
    color: #1FD0EF;
}